.section-comments {
	background-color: #353434;
	margin: 0 auto 33px auto;
	max-width: 764px;
	padding-top: 20px;
	width: 100%;
}

.respond {
	margin-bottom: 44px;
}

.section-comments ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.section-comments ol.comments-child > li {
	padding-left: 85px;
}

.comments-title {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 36px;
	opacity: 0.5;
	text-align: center;
}

.comment-text {
	background-color: #6A6969;
	border: 1px solid #1a1919;
	border-radius: 3px 2px 2px 3px;
	color: #FFFFFF;
	display: block;
	margin: 0 auto;
	max-width: 764px;
	padding: 14px;
	resize: none;
	width: 100%;
}

.comment-form {
	margin-bottom: 16px;
}

.comment-form-submit {
	text-align: center;
}

.comment-form-submit input[type="submit"] {
	background-color: #f263cf;
	color: #FFFFFF;
	font-weight: 300;
	opacity: 0.9;
	padding: 10px 66px;
	text-transform: none;
	transition: background-color 0.225s ease;
}

.comment-form-submit input[type="submit"]:hover,
.comment-form-submit input[type="submit"]:focus,
.comment-form-submit input[type="submit"]:active {
	background-color: #FA8DD7;
}


.comment-author-image {
	float: left;
}

.comment-author-meta,
.comment-content,
.comment-reply {
	margin-left: 85px;
}

.comment-entry {
	margin-bottom: 40px;
}

.comment-content {
	color: #DBDBDB;
	line-height: 1.5;
	margin-top: -52px;
	opacity: 0.8;
}

.comment-author-meta {
	padding-top: 4px;
}

.comment-author-name {
	color: #FFFFFF;
	display: inline-block;
	margin-right: 16px;
	opacity: 0.9;
}

.comment-time {
	color: #FFFFFF;
	font-size: 14px;
	opacity: 0.3;
}

.comment-reply-submit {
	color: #ef7ccc;
	font-size: 14px;
	text-decoration: none;
	transition: color 0.225s ease;
}

.comment-reply-submit:hover,
.comment-reply-submit:focus {
	color: #FA8DD7;
}