.primary-footer {
	background-color: #242424;
	border-radius: 1px;
	padding-bottom: 75px;
	padding-top: 68px;
}

.footer-brand,
.site-info {
	display: inline-block;
}

.site-info {
	float: right;
	font-size: 14px;
	font-weight: 400;
	text-align: right;
}

.site-copyright {
	color: #888888;
	margin-bottom: 4px;
}

.contact {
	color: #c7c7c7;
}

.primary-footer .site-title {
	color: #727272;
}

.primary-footer .site-title span {
	color: darkgrey;
}