/*
 * ------
 * Header
 * ------
*/

h1{
	font-size: 1.5em;
}
header.site-header {
	background: #302E2F;
	height: 82px;
	color: #808080;
}

/*.blog{
	color:#fff;
	float:left;
	margin-left:70px;
	margin-top:-43px;
}*/
/*.md{
	margin-top:-43px;
}*/
.logo{
	margin-top:15px;
	margin-left:38px;
}
.header-search {
	text-align: right;
	position: absolute;
	left: 1060px;
	top: 35px;
	width: 255px;
	height: 25px;
}
.header-search input[type="submit"] {
  width:0.2em;
  height:1.5em;
  font-size:0.7em;
  text-transform: none;
  vert-align:center;
  text-align:center;
  border:1px;
  padding-left:0.5px;
  padding-top:0px;
  border-radius: 20%;
}
INPUT[type=search] {

	font-size:11pt;
	font-weight:bold;
	background-color:#336699;
	border-color:#336699;
	border-style:solid;
	border-width:2px;
	color:gray;
	height:30px ;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
