#sidebar-tab {
	background-color: #262020;
	height: 730px;
	width: 355px;
}

#sidebar-tab input {
	height: 1.9em;
	visibility: hidden;
}

#sidebar-tab label {
	background: #353334;
	border-radius: .25em .25em 0 0;
	color: #6495ED;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1.1em;
	height: 3.5em;
	padding-top: 0.5em;
	margin-right: .25em;
	margin-left: 0.1em;
	width: 150px;
	text-align: center;
	opacity: 0.9;
}

#sidebar-tab input:checked + label {
	background: #262020;
	position: relative;
	z-index: 5;
}

#sidebar_content {
	background: #262020;
	border-radius: 0 .25em .25em .25em;
	min-height: 20em;
	position: relative;
	width: 100%;
	z-index: 5;
}

#sidebar_content div {
	opacity: 0;
	padding: 1em 3.5em 1em 0;
	position: absolute;
	z-index: -100;
}

#recent_articles p {
	clear: both;
	margin-bottom: 1.5em;
	color: #B0C4DE;
	opacity: 0.5;
}

#recent_articles a {
	color: #87CEEB;
	font-size: 1em;
	opacity: 0.7;
}

#upcoming_posts p,
#upcoming_posts ul {
	margin-bottom: 1.5em;
	color: #87CEEB;
}

#upcoming_posts ul {
	margin-left: -1em;

}

#upcoming_posts li {
	margin-left: -1em;

}

#sidebar-tab input#tabs-1:checked ~ #sidebar_content #recent_articles,
#sidebar-tab input#tabs-2:checked ~ #sidebar_content #upcoming_posts {
	opacity: 1;
	z-index: 100;

}

input.visible {
	visibility: visible !important;
}

.customHr {
	width: 100%;
	color: #C0C0C0;
	line-height: 1px;
	background-color: #C0C0C0;
	margin-top: -6px;
	margin-bottom: 10px;
	opacity: 0.1;
}

.sidebar_entry li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.loadmore input[type="submit"] {
	background-color: #262020;
	border-radius: 8px;
	border: 2px solid #353334;
	height: 55px;
	width: 357px;
	color: #6495ED;
	margin-top: 0;
	margin-bottom: 45px;
	margin-left: -0px;
	letter-spacing: 0.1px;
	font-weight: 300;

}

.sidebar_btn {
	background: #353334;
}

.signup input[type="submit"] {

	color: white;
	cursor: pointer;
	border-color: #293535;
	border-radius: 6px;
	width: 127px;
	height: 45px;
	background-color: #f263cf;
	margin-left: 7px;
	text-transform: none;
	font-weight: 300;

}

.signup {
	text-align: left;
}

#subscribe {
	text-align: left;
}

.signup input[type="submit"]:hover {
	background-color: #C390D4;
	color: black;
	box-shadow: 012px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.placehoder {
	color: #999;
}

.txtinput_email {
	border: 1px solid #999;
	margin-left: 0;
	border-radius: 6px;
	height: 45px;
	width: 210px;
	background-color: #696969;
	color: black;
	text-align: center;
	padding-right: 35px;
}
