#sidebar-tab {
	margin-bottom: 37px;
}

#sidebar-tab input[type="radio"] {
	display: none;
	height: 1.9em;
}

#sidebar-tab label {
	color: #4a95e0;
	display: inline-block;
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
	padding: 9px 20px 6px 18px;
	transition: color 0.3s;
}

#sidebar-tab label:hover {
	color: #567595;
}

#sidebar-tab input:checked + label {
	background: #272626;
	border-radius: 2px 3px 3px 2px;
	position: relative;
	z-index: 5;
}

#sidebar_content {
	background-color: #272626;
	border-radius: 2px;
	padding: 40px 0 0;
}

.article-list {
	list-style: none;
	margin: 0;
	padding: 0 45px 0 30px;
}

.article-list  li {
	border-bottom: 1px solid #2d3742;
	padding-bottom: 16px;
	padding-top: 21px;
}

.article-list li:first-child {
	padding-top: 0;
}

.article-list li:last-child {
	padding-bottom: 49px;
}

.article-list a {
	color: #567595;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.2px;
	line-height: 21px;
	text-decoration: none;
	transition: color 0.3s;
}

.article-list a:hover {
	color: #4a95e0;
}

.article-list p {
	color: #5d5c5c;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 0;
	margin-top: 5px;
}

.load-more {
	padding-top: 3px;
	text-align: center;
	width: 100%;
}

input[type="submit"].btn-load-more {
	background-color: transparent;
	color: #499ef3;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.5px;
	line-height: 24px;
	text-transform: uppercase;
}

input[type="email"].subscribe-input {
	background-color: #6a6969;
	color: white;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.7px;
	line-height: 1;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 11px;
	padding-bottom: .65em;
	padding-top: .75em;
	opacity: 0.4;
	text-indent: 12px;
	vertical-align: baseline;
	width: 66%;
}

input[type="submit"].subscribe-submit {
	background-color: #f263cf;
	color: white;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.2px;
	line-height: 1;
	opacity: 0.9;
	padding: .8em 16px .7em;
	text-transform: none;
	transition: background-color 0.3s;
	vertical-align: baseline;
}

input[type="submit"].subscribe-submit:hover {
	background-color: #FA8DD7;
}

::-webkit-input-placeholder {
	padding-top:3px;
}

#upcoming_posts {
	display: none;
}

#sidebar-tab input#tabs-2:checked ~ #sidebar_content #recent_articles {
	display: none;
}
#sidebar-tab input#tabs-2:checked ~ #sidebar_content #upcoming_posts {
	display: block;
}
