#sidebar-tab {
	background-color:#262020;
	height:698px;
	width: 347px;
}
#sidebar-tab input {
	height: 1.7em;
	visibility: hidden;

}
#sidebar-tab label{
	background: #353334;
	border-radius: .25em .25em 0 0;
	color: #FF66FF;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1.2em;
	height: 3.5em;
	margin-right: .25em;
	margin-left:0.1em;
	width:150px;
	text-align: center;
}
#sidebar-tab input:checked + label{
	background: #262020;
	position: relative;
	z-index: 5;
}

#sidebar_content{
	background: #262020;
	border-radius: 0 .25em .25em .25em;
	min-height: 20em;
	position: relative;
	width: 100%;
	z-index: 5;
}
#sidebar_content div{
	opacity: 0;
	padding: 1.5em;
	position: absolute;
	z-index: -100;
}
#recent_articles p{
	clear both;
	margin-bottom:1em;
}

#recent_articles  a{
	color: #EE82EE;
	font-size: 1.25em;
}
#recent_articles p{
	color: #f4b4f4;
	margin-bottom: 1em;
}

#upcoming_posts p,
#upcoming_posts ul{
	margin-bottom: 1em;
	color: #EE82EE;
}

#upcoming_posts ul{
	margin-left: 2em;

}

#sidebar-tab input#tabs-1:checked ~ #sidebar_content #recent_articles,

#sidebar-tab input#tabs-2:checked ~ #sidebar_content #upcoming_posts{
	opacity: 1;
	z-index: 100;

}
input.visible{
	visibility: visible !important;
}
.customHr{
	width: 100%;
	color: #c14fa5;
	line-height: 2px;
	background-color: #c14fa5;
	margin-top: -6px;
	margin-bottom: 10px;
}
.sidebar_entry li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.loadmore input[type="submit"]{
	background-color: #262020;
	border-radius:8px;
	border: 8px solid #353334;
	border-color: #353334;
	height:55px;
	width:355px;
	color:#FF66FF;
	margin-top: 10px;
	margin-bottom: 20px;

}
.sidebar_btn{
	background: #353334;
}	
.signup input[type="submit"]
{   
	
	color:white;
	cursor:pointer;
	border-color:#293535;
	border-radius:6px;
	width: 130px;
	height:35px;
	font-size: 0.7em;
	background-color: #f263cf;
	text-align:left;
	margin-left:10px;
	
}
#subscribe{
	/*margin-right:20px;*/
}
.signup input[type="submit"]:hover{
  background-color: #C390D4;
  color:black;
  box-shadow: 012px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);    
}

.placehoder{
	color: #999;
}

.txtinput_email{
	border: 2px solid #999;
	margin-left: 5px;
	border-radius:6px;
	height:35px;
	width: 190px;
	background-color:#B0B0B0;
	color:black;
	font-size: 1em;
	text-align: center;
	padding-right:35px;
}
